<h1>{{title}}</h1>
<p>Welcome to {{title}} {{version}} </p>
<p>This is an <strong>c</strong>onfrence  <strong>r</strong>oom  <strong>a</strong>ssistence <strong>s</strong>ystem</p>
<br>
<p>provided endpoints<br>
* /metaTypes<br>
* /rooms<br>
</p>